<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/province/layout :: head">
</head>
<body>
<h2>Province Information</h2>
<p>
    <a href="/provinces">Back To List Provinces</a>
</p>
<div id="form">
    <form th:action="@{/delete-province}" th:object="${province}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table id="provinces">
            <thread>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                </tr>
            </thread>
            <tbody>
            <tr>
                <td></td>
                <td>
                    <input type="text" th:field="*{name}"/>
                </td>
            </tr>
            <tr>
                <td colspan ="2">
                    <input type="submit" value="Delete Province"/>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<footer th:replace="/province/layout :: footer"></footer>
</body>
</html>